@charset "utf-8";

@font-face {
    font-family: 'Jetbrains';
    src: url(../fontes/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf) format(TrueType);
}
@font-face {
    font-family: 'Inter' ;
    src: url(../fontes/Inter/Inter-VariableFont_slnt\,wght.ttf) format(TrueType);
}

:root {
    --cor1:#5eadc7;
    --cor2:#966DA9;
    --cor3:#BF7950;
    --cor4:#D6D98F;
    --cor5:#A4B0BF;
    --cor6:#262626;
    
    --cor7:#ffffff;
    --cor8:#000000;

    --font1:'Jetbrains',monospace;
    --font2:'Inter', monospace;
}


* {
    font-family: var(--font1) ;
    font-weight: 300;
    font-size: 16px;
    margin: 0px ;
}


body {
    height: 98vh ;
    background-color: var(--cor8) ;
}


nav {
    margin: 90px 10px 150px 25px;
}
    p {
        color: var(--cor7);
        padding: 5px;
    }
        p.identmin {
            text-indent: 30px;
        }
        p.identmax {
            text-indent: 60px ;
        }

    span.azul {
        color: var(--cor1) ;
    }
    span.rosa {
        color: var(--cor2);
    }
    span.amarelo {
        color: var(--cor4);
    }

    a {
        text-decoration: none;
        color: var(--cor1);
    }
        a:hover {
            text-decoration: underline;
        }
        a.amarelo {
            color: var(--cor4);
        }
        a.amarelo:hover {
            text-decoration: underline;
            color: var(--cor1);
        }


main {
    background-color: var(--cor6);

}
    h1 {
        color: var(--cor2) ;
        font-family: var(--font1) ;
        font-size: 28px ;
        text-align: left ;
        padding: 30px 15px 15px 10px ;
    }

    h2 {
        color: var(--cor4);
        font-family:var(--font1) ;
        font-style: none ;
        text-align: left ;
        text-indent: 20px ;
        margin: 5px 0px 5px 0px ;
        padding: 15px;
    }

    abbr {
        font-family: var(--font2);
        font-size: 18px ;
        text-decoration: none;
    }
        abbr:hover {
            color:var(--cor1);
        }

    small {
        font-family: var(--font1);
        font-size: 14px;
        color: var(--cor1);
    }

    main > section > article > p {
        color: var(--cor5) ;
        text-align: justify;
        text-indent: 30px ;
        margin:0px 0px 5px 0px;
    }

    pre {
        color: var(--cor7);
        text-indent: 0px;
        margin: 0px ;
        padding: 0px;
        display: inline-block;
    }

    article > div {
        color: var(--cor3);
        text-indent: 85px ;
        height: 0px;
    }

    div.marginbottom {
        margin-bottom: 15px;
    }